body {
  margin: 75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* HEADER */
.logo {
  max-height: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: relative;
  align-items: center;
  margin: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 50px;
}

/* HOME */
.home {
  align-content: center;
  width: 60%;
  margin: auto;
  /* border: 1px solid; */
  
}

/* SHOP */
.shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.item {
  margin: 20px; 
}

/* CART */
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px;
}

/* PREVIOUS ORDERS */
.prevorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px;
}

/* SECRET ENDPOINT */
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  position: center;
}

form input {
  margin: 5px;
}

.formcontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}