body {
  margin: 75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* HEADER */
.logo {
  max-height: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* justify-content: center;  */
  justify-content: left; 
  position: relative;
  align-items: center;
  margin: 50px;
  border: 1px solid;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  margin: 0% 5% 0% 30%;
  border: 1px solid;
}

/* HOME */
.home {
  border: 1px solid;
  align-content: center;
  width: 60%;
  margin: auto;
  /* border: 1px solid; */
  
}

.homeimage {
  display: flex;
  justify-content: center;
  height: 500px;
  

}

/* SHOP */
.shop {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.item {
  border: 12px solid;
  margin: 20px; 
}

.itemimage {
  display: flex;
  border: 10px solid;
  justify-content: center;
  height: 5px;
}

/* CART */
.cart {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px;
}

/* PREVIOUS ORDERS */
.prevorder {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px;
}

/* SECRET ENDPOINT */
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  position: center;
}

form input {
  margin: 5px;
}

.formcontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}