body {
  margin: 75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* HEADER */
.logo {
  max-height: 100px;
}

.header {
  /* flex-direction: column; */
  /* justify-content: center;  */
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  justify-content: left; 
  position: relative;
  align-items: center;
  margin: 50px;
}

.navbar {
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  margin: 0% 5% 0% 30%;
  padding: 15px;
}

/* .navbar NavLink {
  background-color: pink;
} */

/* HOME */
.home {
  /* border: 1px solid; */
  align-content: center;
  width: 60%;
  margin: auto;
  /* border: 1px solid; */
  
}

.homeimage {
  display: flex;
  justify-content: center;
  height: 500px;
  

}

/* SHOP */
.shop {
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  /* border: 12px solid; */
  margin: 20px;
  height:500px;
  width: 300px;
}

.itemimagediv {
  display: flex;
  justify-content: center;
  height: 300px;
  width: auto;
}

/* CART */
.cart {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 300px;
  padding: 0px 300px;
}

/* Checkout button */
.checkout {
  margin: 50px;
}

.orderdiv {
  /* border: 1px solid; */
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
}

.orderdiv input {
  width: 50px;
  height: 20px;
}

/* delete button */
.orderdiv button {
  border: 0px;
  
}

/* PREVIOUS ORDERS */
.prevorder {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 300px;
  padding: 0px 300px;
}

.podiv {
  /* border: 1px solid; */
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
}


/* SECRET ENDPOINT */
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  position: center;
}

form input {
  margin: 5px;
}

.formcontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/* Footer */
.footer {
  background-color: #B2A000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 0px 0px 0px;
  align-items: flex-start;
  height: 200px;
}

.footerlogo {
  /* border: 1px solid; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  align-self: flex-start;
  justify-content: left; 
  height: 200px;
}

.contact {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items:  center;
  /* margin: 10px; */
}